version: '3.8'

services:
  backend:
    restart: always
    environment:
      - DEBUG=True
    networks:
      - todac-network
      - npm_network
  attu:
    networks:
      - npm_network
networks:
  npm_network:
    external: true

